{% extends "base.html" %}
{% block title %}- About{%endblock title %}
{% block content %}

<div class="container flexbox" style="margin-top: 100px">
    <a href="/"> << Home</a>
    <div class="darkbox">
        <h4>CCP Legal Notice</h4>
        <p>
            EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to EntosisMap to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, EntosisMap. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
        </p>
    </div>
    <div class="darkbox">
        <h4>License</h4>
        <p>
            This program is free software: you can redistribute it and/or modify
            it under the terms of the GNU Affero General Public License as published by
            the Free Software Foundation, either version 3 of the License, or
            (at your option) any later version.
        </p>
        <p>
            This program is distributed in the hope that it will be useful,
            but WITHOUT ANY WARRANTY; without even the implied warranty of
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
            GNU Affero General Public License for more details.
        </p>
        <p>
            The full license can be found <a href="https://github.com/nimos/dscantool">here</a>.
        </p>
    </div>
</div>
{% endblock content %}

